.details-page-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-to-main-header{
    display: flex;
    background-color: #072AC8;
    justify-content: space-between;
    width: 100%;
    min-height: 8vh;
    max-height: 10vh;
}

.go-back-arrow{
    margin-left: 3.5vh;
    align-self: center;
    height: 6vh;
    width: auto;
}

.blocks-wrapper{
    max-width: 50%;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    font-family: "Poppins", sans-serif;
}

.blocks-wrapper > div{
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow:
    10px  0  5px  -5px lightgray,
    -10px 0 5px -5px lightgrey,
    0 10px 5px -5px lightgrey;

    margin: 10px 10px;
    padding: 5px 5px;
}

.info-block{
    display: grid;
    flex: 1;
    grid-template-columns: 0.5fr minmax(0,0.7fr);
    grid-template-rows: 0.1fr minmax(0,1fr);
}

.info-block > *{
    margin: 0 30px
}

.pokemon-name-id{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.pokemon-name-id div:nth-child(2){
    color: #0023c5;
    font-size: 20px;
}

.details-type-labels{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pokemon-type-label{
    margin: 0 5px;
}

.bars-container{
    margin-top: 20px;
}

.pokemon-sprite{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.pokemon-sprite img{
    max-width: 100%;
    height: auto;
}

.breeding-block{
    display: flex;
    flex-direction: column;
}

.breeding-block > p{
    margin: 20px 30px 5px 30px;
}

.breeding-info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.height-part,
.weight-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.height-part > p,
.weight-part > p{
    font-size: 13px;
    color: #999b9d;
}

.height-block,
.weight-block{
    display: flex;
    flex-direction: row;
    background-color: #f8f9fa;
    border-radius: 10px;
    border: 1px solid #e9eaea;
    padding: 0 10px;
    margin: 0 5px;
}

.height-block p,
.weight-block p{
    font-size: 14px;
    margin: 0;
    padding: 10px;
}

.moves-block > *{
    margin: 35px 30px
}

.moves-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 10px;
}

.pokemon-move-card{
    display: flex;
    flex-direction: column;
    place-items: center;
    border-radius: 10px;
}

.pokemon-move-card img{
    margin: 2vh;
    max-height: 3vh;
    max-width: 3vh;
}

.pokemon-move-card p{
    color: white;
    font-size: 13px;
    margin: 0 0 1.5vh 0;
}

.abilities-block > *{
    margin: 30px;
}

.abilities-cards-container{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(75px, 1fr));
}

.pokemon-ability-card{
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    background-color: #ff844f;
    border-radius: 10px;
}

.circle{
    display: flex;
    place-content: center;
    background: white;
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
}

.circle p{
    color: #ff844f;
    font-size: 15px;
    margin: 0;
}

.pokemon-ability-card > p{
    color: white;
    font-size: 13px;
    margin: 0;
}