p{
  font-size: 20px;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
}

.search-header{
  display: flex;
  background-color: #072AC8;
  min-height: 20vh;
  z-index: 0;
}

.search{
  padding: 20px 20px;
  justify-content: space-evenly;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.header-text{
  color: white;
  font-size: 30px;
}

.pokeball-image{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}


.pokemon-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,  1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
}

.pokemon-card{
  box-sizing: border-box;
  background-color: white;
  padding: 10px 5px;
  border-radius: 15px;
  box-shadow:  10px  10px  5px  0 lightgray;
  display: flex;
  flex-direction: column;
}

.pokemon-name-id{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.type-labels{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.pokemon-type-label{
  border: 1px solid black;
  border-radius: 3px;
}